<body>
  <img class="landingphoto" src="http://th09.deviantart.net/fs17/PRE/f/2007/129/7/4/Stock_032__by_enchanted_stock.jpg">


<div class="intro">

  <h1><b>Welcome to the Bloggregator</b></h1>
  (bloggregator is in beta)
  <p>
    An easy to use content management system for collecting  and sharing articles, rss blog feeds, and personal writings.</br></br>
    I am working to expand functionality and make this open source application ready at a moments notice to be plugged in for use on your own projects.  Check out the code repository on <a href="https://github.com/jswatson0/bloggregator">GitHub</a>
  </p>

  
  <button class="btn" type="button"> <p><%= link_to 'START READING', posts_path %></p></button>

</div>
</body>

<!-- Google analytics  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43221854-2', 'a-bloggregator.herokuapp.com');
  ga('send', 'pageview');

</script>