<body>
  <img class="landingphoto" src="http://th09.deviantart.net/fs17/PRE/f/2007/129/7/4/Stock_032__by_enchanted_stock.jpg">


<div class="intro">

  <h1><b>Welcome to the Bloggregator</b></h1></br>
  <p>
    An easy to use content management system for collecting  and sharing articles, rss blog feeds, and personal writings.</br></br>
    I am working to expand functionality and make this open source application ready at a moments notice to be plugged in for use on your own projects.  Check out the code repository on <a href="https://github.com/jswatson0/bloggregator">GitHub</a>
  </p>

  
  <button class="btn" type="button"> <p><%= link_to 'START READING', posts_path %></p></button>

</div>
</body>
