
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#container {
  // margin-top: 50px;
}
.nav.right{
  margin-top: 10px;
  margin-right: 100px;
  float: right;

}
.post {
  width: 60%;
  margin: 0px auto;
}

.top {
  margin-top: 100px;
}
a, p, ol, ul, td, h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
 
  a{
    font-size: 20px; 
  }
 
}
.field {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300; 
}
label {
  margin-bottom: -15px;
}
.nav.left {
  margin-left: 100px;
}
.brand {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin-left: 100px;
}


.title {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

.preview {
  font-size: 25px;
  line-height: 27px;

  
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.inreads {
  width:100px;
  height:20px;
  background-color: #339966;
  text-align: center;
  border-radius: 3px;
  color: white;
}
// .hidden {
//   width:100px;
//   height:20px;
//   background-color: #339966;
//   text-align: center;
//   border-radius: 3px;
//   color: white;
// }

.author {
  font-size: 15px;
}

.welcome {
  text-align: center;
  margin-bottom: 50px;
  // margin-top: -50px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}
.divimg {
  margin: 0 auto;
  text-align: left;
}

.icon-plus-sign {
  text-decoration: none;
}
.paginate{
  text-align: center;
}

textarea {
  width: 50%;
}
.navbar-inner {
  background-color: #2c2c2c;
}



